#about_container, #contact_container, #messageus_container {
    padding-left: 0px;
    padding-right: 0px;
    h1 {
        margin: 50px 0px 30px;
        font-size: 50px;
    }
    h3 {
        color: $dark-green;
    }
}
#about_container {
    padding-left: 0px;
    padding-right: 0px;
    p {
        font-family: $font-goudy;
        font-size: 20px;
    }
    h2 {
        font-weight: 800;
    }

    #smileshop-img {
        margin-top: 25px;
    }
}


#contact_container {
    padding-left: 0px;
    padding-right: 0px;
    font-family: $font-mont;
    a {
        color: $dark-green;
        &:hover {
            color: $orange;
            .fa {
                border-color: $orange;
                color: $orange;
            }
        }
    }
    .fa {
        padding-right: 15px;
    }
    .contact-info, .socials {
        margin-bottom: 25px;
    }
    .contact-info {
        p, a {
            margin-bottom: 5px;
            font-size: 15px;
        }
        .fa {
            font-size: 20px;
        }
    }
    .socials {
        h3 {
            margin-bottom: 20px;
        }
        .fa {
            font-size: 23px;
            border: 2.5px solid $dark-green;
            border-radius: 5px;
            padding: 4px 6px;
        }
        .fa-facebook {
            padding: 4px 9px;
        }
    }
    
    .map {
        margin-top: 40px;
    }
    
    
    iframe {
        height: 350px;
        width: 100%;
    }
}

#messageus_container {
    form {
        margin-top: 10px;
        .form-control:focus {
            border-color: $orange;
        }
        .form-control {
            border-color: $dark-green;
        }
        .btn {
            text-transform: uppercase;
        }
    }
}
.remedies {
    padding-top: 22px;
    h3 {
        color: $green;
        font-size: 32px;
    }
    .panel-body {
        font-family: $font-rale;
        font-size: 18px;
        padding: 0px;
        p {
            padding: 20px 30px 10px;
            color: $grey;
            font-weight: 600;
        }
        img {
            height: 240px;
        }
        .text-center {
            margin-bottom: 0px;
        }
    }
    .btn {
        width: 80%;
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-transform: uppercase;
        font-weight: bold;
    }
}

@media #{$mobile} {
    .remedies, .mission {
        padding-left: 0px;
        padding-right: 0px;
    }
    #messageus_container {
        form {
            margin-bottom: 20px;
        }
    }
    #about_container {
        h1 {
            margin-top: 80px;
        }
    }
}

/*-------------- VALIDATION --------------*/

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
