// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Buttons 

a {
    &:hover {
        text-decoration: none;
    }
}

h1 {
    font-size: 65px;
    color: $orange;
}
h1, h2, h3 {
    font-family: $font-baloo;
}
.btn {
    color: $white;
}
.btn-orange:hover, .btn-green:hover, .btn-dark-green:hover, .btn-green:hover, .btn-red:hover {
    color: $white;
}
.btn-orange {
    background-color: $orange;
    &:hover {
        background-color: rgba(200, 40, 0, 1);
    }
}
.btn-red {
    background-color: $red;
}

.btn-dark-green {
    background-color: $green;
    &:hover {
        background-color: rgba(0, 140, 62, 1);
    }
}
.btn-green {
    background-color: rgba(0, 140, 62, 1);
    &:hover {
        background-color: $green;
    }
}

$large: "(min-width: 1200px)";
$desktop: "(min-width: 992px) and (max-width: 1199px)";
$tablet: "(min-width: 768px) and (max-width: 991px)";
$mobile: "(max-width: 767px)";

@media #{$mobile} {
    #body {
        h1 {
            margin-top: 60px;
        }
    }
}

.product-path {
    text-transform: capitalize;
    font-family: $font-baloo;
    a {
        text-transform: uppercase;
        color: $orange;
        font-size: 26px;
        padding-top: 10px;
        padding-bottom: 15px;
    }
}
// Top

@import "sections/top.scss";

// Nav

@import "sections/nav.scss";

// Header

@import "sections/header.scss";

// Product

@import "sections/product.scss";

// Cart

@import "pages/cart.scss";

// Checkout

@import "pages/checkout.scss";

// Carousels

@import "sections/carousels.scss";

// About

@import "pages/about.scss";

    // Beginnings

    @import "pages/beginnings.scss";

    // Mission

    @import "pages/mission.scss";   

    // Cooking

    @import "pages/cooking.scss"; 

    // Quality

    @import "pages/quality.scss"; 

    // Returns

    @import "pages/returns.scss";

    // Terms

    @import "pages/terms.scss"; 

// Shop

@import "sections/sidebar.scss";

// Inventory

@import "sections/inventory.scss";

// Blog

@import "pages/blog.scss";

// Footer
@import "sections/footer.scss";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";



// ADMIN PANEL
@import "sections/admin.scss";

// LOGIN PAGE
@media #{$mobile} {
    #admin-log {
        float: left;
    },
    .alert .alert-danger {
        margin-top: 80px;
    }
}
@media #{$tablet} {
    #admin-log {
        float: left;
    }
}

// ERRORS
body {
    .parsley-required {
        font-family: $font-mont;
        padding: 9px 7px 0px;
        color: $orange;
    }
    textarea.parsley-error, input.parsley-error  {
        background-color: $white;
        border-color: red;
    }
    input.parsley-success, select.parsley-success, textarea.parsley-success {
        background-color: rgba(0, 222, 1, 0.04);
    }
}

