#main-banner {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: $grey;
    #main-carousel {
        padding-left: 15px;
        padding-right: 15px;
        .carousel-inner {
            max-height: 450px;
        }
    }
    .carousel-indicators {
        bottom: 0px;
        z-index: 1;
    }
    .carousel-control.right, .carousel-control.left {
        background: none;
    }
    .carousel-indicators li, .carousel-indicators li .active {
        background-color: $orange;
        height: 15px;
        width: 15px;
        margin: 0;
    }
    .carousel-indicators li .active {
        margin: 0;
    }
    .carousel-control .glyphicon-chevron-right, .carousel-control .glyphicon-chevron-left {
        background-color: $orange;
        padding-top: 10px;
        height: 50px;
        width: 50px;
    }

    #best-seller {
        .size {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .caption {
            font-size: 17px;
            color: $white;
            font-family: $font-baloo;
            text-transform: uppercase;
            text-align: center;
            width: 100%;
            margin-top: 30%;
            letter-spacing: 1.5px;
        }
        .bulk {
            .caption {
                background-color: rgba(0, 140, 62, 0.9);
            }
            margin-top: 0px;
            background-image: url('../images/main-banner/bestsell/bulk.jpg');
            background-repeat: no-repeat;
        }
        .supplements {
            .caption {
                background-color: rgba(0, 80, 120, .9);
            }
            background-image: url('../images/main-banner/bestsell/herbs.jpg');
            background-repeat: no-repeat;
        }
        .nutrition {
            .caption {
                background-color: rgba(200, 40, 0, .9);
            }
            background-image: url('../images/main-banner/bestsell/nutrition.jpg');
            background-repeat: no-repeat;
        }

    }
}

@media #{$large} {
    .bulk, .supplements, .nutrition {
        margin-bottom: 5%;
    }
    .border {
        padding: 0px;
    }
}
@media #{$desktop} {
    #best-seller {
        height: 450px;
        .border {
            padding: 0px;
            height: 47.5%;
            .caption {
                padding: 8px 30px;
                margin-top: 30%;
            }
        }
        .bulk {
            background-color: $green;
        }
        .supplements {
            background-color: navy;
        }
        .nutrition {
            background-color: $orange;
        }
        
    }

}
@media #{$tablet} {
    #best-seller {
        height: 287.4px;
    }
}

@media #{$mobile} {
    #main-banner {
        background-color: $white;
        padding-top: 0px;
        padding-bottom: 0px;
        .container, #main-carousel  {
            padding: 0px;
            .carousel-control {
                opacity: 1;
                .glyphicon-chevron-right, .glyphicon-chevron-left {
                    background-color: rgba(200, 40, 0, 0.9);
                    padding-top: 15px;
                }
                .glyphicon-chevron-right {
                    margin-right: -20px;
                }
                .glyphicon-chevron-left {
                    margin-left: -20px;
                }
            }
        }
        #best-seller {
            padding: 0px;
            .border {
                margin-bottom: 0px;
                padding-left: 0px;
                padding-right: 0px;
                height: 140px;
                .caption {
                    padding: 7px;
                    font-size: 15px;
                    letter-spacing: 1.3px;
                    margin-top: 50%;
                }
            }
        }
    }
}