.shop_container {
    margin-top: 35px;
    

    .product-path, .product-path a{
        font-size: 25px;
        margin: 26px auto 40px;
    }
    
    h3 {
        text-transform: capitalize;
        color: $orange;
    }

    
}
#path-div {
    margin-top: 20px;
}
#single-product {
    .socials {
        .fa {
            font-size: 23px;
            border: 2.5px solid $dark-green;
            border-radius: 5px;
            padding: 4px 6px;
            color: $dark-green;
            &:hover {
                color: $orange;
                border-color: $orange;
            }
        }
        .fa-facebook {
            padding: 4px 9px;
        }
    }
    .price {
        color: $orange;

    }
    .cents {
        vertical-align: super;
        font-size: 18px;
        margin-left: -5px;
    }
    h1 {
        text-transform: capitalize;
    }
    h3 {
        font-size: 40px;
    }
    .product-attr {
        list-style: none;
        font-family: $font-mont;
        text-transform: uppercase;
        font-weight: bold;
        li {
            padding-bottom: 12px;
            i {
                color: $orange;
                padding-right: 5px;
            }
            label {
                letter-spacing: 1pt;
                color: $orange;
            }
        }
        
        span {
            font-weight: 300;
            text-transform: capitalize;
            padding-left: 23px;
        }
    }
    
}

#product-interested {
    h4, h4 > a {
        color: $orange;
        text-transform: capitalize;
        font-family: $font-baloo;
        font-size: 25px;
    }
    label, span {
        font-family: $font-mont;
    }
    label {
        font-weight: bold;
    }
    .price {
        font-size: 24px;
        .cents {
            font-size: 13px;
        }
    }
}
@media #{$mobile} {
    #single-product {
        margin-top: 50px;
        .product-attr, .product-attr span {
            padding-left: 0px;
        }
        .single-product {
            padding: 0px;
            .col-xs-12 {
                padding: 0px 5px;
            }
            .btn {
                float: right;
            }
        }
        
    }
}